.app-container {
  min-height: calc(100vh - 64px); // Full height minus toolbar
  position: relative;
}

.global-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
