<div class="language-container">
  <button
    matButton
    [matMenuTriggerFor]="languageMenu"
    [attr.aria-label]="label | translate"
    [matTooltip]="label | translate"
  >
    <mat-icon>language</mat-icon>
    <span>{{ supportedLocales.get(localeService.currentLocale()) }}</span>
  </button>

  <mat-menu #languageMenu="matMenu">
    @for (locales of supportedLocales | keyvalue; track locales.key) {
      <button
        mat-menu-item
        (click)="onLanguageChange(locales.key)"
      >
        {{ locales.value }}
      </button>
    }
  </mat-menu>
</div>
